@charset "UTF-8";
/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
  font-weight: 300;
  height: 100%;
  line-height: 1;
  position: relative;
  color: #72747c;
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a,
span,
div,
button {
  outline: none !important; }

input[type="submit"],
input[type="button"],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/*--------------------------------------------*/
/* HEAD POP-UP*/
/*--------------------------------------------*/
.head-popUp {
  position: absolute;
  top: 85px;
  width: 100%;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.95);
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .head-popUp.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }

.head-popUp_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0; }

.head-popUp_container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.head-popUp_container_item {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  z-index: 999;
  cursor: pointer; }
  .head-popUp_container_item h5 {
    text-align: left;
    padding-left: 20px; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.head {
  width: 100%;
  height: 827px;
  min-width: 320px;
  text-align: left;
  -webkit-box-ordinal-group: 2;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-order: 1;
  background: url("../img/terra.png") no-repeat, url("../img/triangle1.svg") no-repeat, url("../img/jazminttquaynor-105210-unsplash.png") no-repeat, url("../img/traingle2.svg") no-repeat, url("../img/triagle3.png") no-repeat, url("../img/Untitled.png") no-repeat, url("../img/jazminttquaynor-1052103-unsplash.png") no-repeat;
  -webkit-background-size: auto, auto, 300px, auto, auto, auto, 470px;
     -moz-background-size: auto, auto, 300px, auto, auto, auto, 470px;
       -o-background-size: auto, auto, 300px, auto, auto, auto, 470px;
          background-size: auto, auto, 300px, auto, auto, auto, 470px;
  background-position: 48px center, left top, left 135%, 95% 115%, right bottom, right 115%, right bottom;
  position: relative; }

.head__owerlay_first-screen-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%; }
  .head__owerlay_first-screen-container h1 {
    margin-top: 150px; }
  .head__owerlay_first-screen-container article {
    width: 360px;
    margin: 28px auto;
    font-weight: 200;
    font-size: 16px;
    line-height: 104.5%;
    text-align: center;
    margin-bottom: 45px; }
  .head__owerlay_first-screen-container h3 {
    margin-top: 200px; }

.head__owerlay_header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.head__owerlay_adaptive-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.head__nav_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.head__nav_item {
  margin: 0 25px;
  position: relative; }
  .head__nav_item.current::before {
    content: "";
    position: absolute;
    bottom: -6px;
    width: 55%;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    border-bottom: 1px solid #575353; }
  .head__nav_item a {
    color: #72747c; }

.container-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px; }

.icon-item {
  width: 56px;
  height: 52px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .icon-item.current {
    background: url("../img/Polygon.svg") no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    background-position: right center; }

.burger-menu {
  width: 18px;
  height: 13px;
  display: none;
  margin: 0 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .burger-menu span {
    display: block;
    width: 100%;
    height: 1px;
    background: #72747c; }
  .burger-menu.toggle-burger {
    height: 1px; }
    .burger-menu.toggle-burger span:nth-of-type(1) {
      -webkit-transform: rotate(405deg);
      -moz-transform: rotate(405deg);
      -ms-transform: rotate(405deg);
      -o-transform: rotate(405deg);
      transform: rotate(405deg);
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      margin-bottom: -97px; }
    .burger-menu.toggle-burger span:nth-of-type(2) {
      width: 0;
      height: 0;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
    .burger-menu.toggle-burger span:nth-of-type(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

@media screen and (max-width: 1380px) {
  .head__owerlay_first-screen-container {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 140px; }
  .head {
    background: url("../img/terra.png") no-repeat, url("../img/triangle1.svg") no-repeat, url("../img/jazminttquaynor-105210-unsplash.png") no-repeat, url("../img/traingle2.svg") no-repeat, url("../img/jazminttquaynor-1052103-unsplash.png") no-repeat;
    -webkit-background-size: auto, auto, 300px, auto, auto;
       -moz-background-size: auto, auto, 300px, auto, auto;
         -o-background-size: auto, auto, 300px, auto, auto;
            background-size: auto, auto, 300px, auto, auto;
    background-position: 48px center, left top, left 135%, 128% 87%, 124% 145px;
    position: relative; }
  .head__owerlay_first-screen-container h1 {
    margin-top: 100px;
    font-size: 40px;
    line-height: 110.13%; }
  .head__owerlay_first-screen-container article {
    width: 360px;
    margin: 28px auto;
    font-weight: 200;
    font-size: 16px;
    line-height: 104.5%;
    text-align: center;
    margin-bottom: 45px; }
  .head__owerlay_first-screen-container h3 {
    margin-top: 200px; } }

@media screen and (max-width: 1250px) {
  .head__owerlay_header-container {
    width: 95%; }
  .head-popUp_container_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 200px; }
    .head-popUp_container_item h5 {
      text-align: center;
      padding: 0; } }

@media screen and (max-width: 991px) {
  .head {
    background-position: -29px center, -44px 114px, left 135%, 155% 94%, 152% 172px;
    padding-bottom: 50px; }
  .head__nav_item {
    margin: 0 13px; } }

@media screen and (max-width: 890px) {
  .head {
    height: 880px;
    background: url("../img/terra.png") no-repeat, url("../img/triangle1.svg") no-repeat, url("../img/jazminttquaynor-105210-unsplash.png") no-repeat, url("../img/traingle2.svg") no-repeat, url("../img/jazminttquaynor-1052103-unsplash.png") no-repeat;
    -webkit-background-size: auto, auto, 300px, auto;
       -moz-background-size: auto, auto, 300px, auto;
         -o-background-size: auto, auto, 300px, auto;
            background-size: auto, auto, 300px, auto;
    background-position: -25px center, -50px 105px, left 143%, 163% 109%, 150% 145px; }
  .head__owerlay_first-screen-container h1 {
    margin-top: 50px; }
  .head__owerlay_first-screen-container article {
    width: 360px;
    margin: 28px auto;
    font-weight: 200;
    font-size: 16px;
    line-height: 104.5%;
    text-align: center;
    margin-bottom: 45px; }
  .head__owerlay_first-screen-container h3 {
    margin-top: 200px; } }

@media screen and (max-width: 800px) {
  .head__owerlay_first-screen-container {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 70px; }
  .head {
    background: url("../img/terra.png") no-repeat, url("../img/triangle1.svg") no-repeat, url("../img/jazminttquaynor-105210-unsplash.png") no-repeat, url("../img/traingle2.svg") no-repeat, url("../img/jazminttquaynor-1052103-unsplash.png") no-repeat;
    -webkit-background-size: auto, auto, 300px, auto;
       -moz-background-size: auto, auto, 300px, auto;
         -o-background-size: auto, auto, 300px, auto;
            background-size: auto, auto, 300px, auto;
    background-position: -25px center, -50px 105px, left 143%, 181% 109%, 169% 145px; } }

@media screen and (max-width: 767px) {
  .head-popUp_container_item {
    min-width: 120px; }
    .head-popUp_container_item h5 {
      font-size: 16px; }
  .burger-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .head__nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #f8f8f8; }
  .head__nav_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .head__nav_item {
    padding: 4px 0; }
    .head__nav_item.current::before {
      content: "";
      position: absolute;
      bottom: 0px;
      width: 90%;
      left: 30px;
      border-bottom: 1px solid #575353; }
  .icon-item {
    width: 40.65px;
    height: 40.65px; }
    .icon-item img {
      width: 85%; }
  .logo {
    height: 40.65px;
    width: auto;
    margin: 0 20px; } }

@media screen and (max-width: 720px) {
  .head__owerlay_first-screen-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0; }
  .head__owerlay_first-screen-container h1 {
    margin-top: 60px;
    margin-bottom: 340px; }
  .head {
    height: 880px;
    background: url("../img/terra.png") no-repeat, url("../img/triangle1.svg") no-repeat, url("../img/jazminttquaynor-105210-unsplash.png") no-repeat, url("../img/traingle2.svg") no-repeat, url("../img/jazminttquaynor-1052103-unsplash.png") no-repeat;
    -webkit-background-size: 346px, auto, 300px, 300px;
       -moz-background-size: 346px, auto, 300px, 300px;
         -o-background-size: 346px, auto, 300px, 300px;
            background-size: 346px, auto, 300px, 300px;
    background-position: center center, -86px 105px, -108px 122%, 156% 101%, 451px 125px; } }

@media screen and (max-width: 555px) {
  .head {
    background: url("../img/terra.png") no-repeat, url("../img/triangle1.svg") no-repeat, url("../img/jazminttquaynor-105210-unsplash.png") no-repeat, url("../img/traingle2.svg") no-repeat, url("../img/jazminttquaynor-1052103-unsplash.png") no-repeat;
    -webkit-background-size: 346px, auto, 300px, 300px;
       -moz-background-size: 346px, auto, 300px, 300px;
         -o-background-size: 346px, auto, 300px, 300px;
            background-size: 346px, auto, 300px, 300px;
    background-position: center center, -86px 105px, -118px 143%, 187% 110%, 291px 105px; } }

@media screen and (max-width: 490px) {
  .head {
    background-position: center center, -86px 105px, -118px 126%, 237% 110%, 210px 105px; } }

@media screen and (max-width: 420px) {
  .head {
    background-position: center center, -86px 105px, -160px 122%, 330px 112%, 210px 105px; } }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  text-align: left;
  width: 100%;
  min-width: 320px;
  -webkit-box-ordinal-group: 4;
     -moz-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-order: 3; }
  footer .project-btn {
    padding: 0; }
  footer .logo {
    padding: 0 20px; }

.footer-wrapper {
  margin: auto;
  width: 999px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
  position: relative; }
  .footer-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 1px solid #dfdfdf;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }

.footer_adaptive-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__nav_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__nav_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 25px;
  position: relative; }
  .footer__nav_item a {
    color: #72747c; }
  .footer__nav_item.footer-btn {
    margin-left: -10px; }

@media screen and (max-width: 1000px) {
  .footer-wrapper {
    width: 100%; }
    .footer-wrapper::before {
      content: "";
      width: 80%; } }

@media screen and (max-width: 991px) {
  .footer__nav_item {
    margin: 0 15px; } }

@media screen and (max-width: 760px) {
  .footer-wrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .footer-wrapper::before {
      content: "";
      width: 100%; }
  .footer_adaptive-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 91px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 50%; }
  .footer__nav_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .right-list .footer__nav_item {
    margin-bottom: 14px; }
  .footer__nav_item {
    margin-bottom: 10px; }
    .footer__nav_item.footer-btn {
      margin-bottom: -4px;
      margin-top: -6px; } }

@media screen and (max-width: 530px) {
  .footer_adaptive-container {
    max-width: 64%; } }

.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: start;
     -moz-box-pack: start;
          justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start; }

.wrapper {
  min-width: 320px;
  max-width: 1460px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.project-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto; }
  .project-btn p {
    padding: 0; }
  .project-btn .btn-left {
    width: 68px;
    height: 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 104.5%;
    text-align: center;
    color: #72747c;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 3px;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s; }
  .project-btn .btn-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 68px;
    height: 34px;
    background: #575353;
    -webkit-box-shadow: 2px 2px 8px;
       -moz-box-shadow: 2px 2px 8px;
            box-shadow: 2px 2px 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 104.5%;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    padding-left: 3px; }
  .project-btn:hover .btn-left {
    background: #575353;
    -webkit-box-shadow: 2px 2px 8px;
       -moz-box-shadow: 2px 2px 8px;
            box-shadow: 2px 2px 8px;
    color: #fff;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s; }
  .project-btn:hover .btn-right {
    background: transparent;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    color: #72747c;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-box-shadow: 2px 2px 8px;
       -moz-box-shadow: 2px 2px 8px;
            box-shadow: 2px 2px 8px; }

.bx-controls-direction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .bx-controls-direction .bx-prev {
    width: 39px;
    height: 39px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.5px solid #72747c;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0.5; }
  .bx-controls-direction .bx-next {
    width: 39px;
    height: 39px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.5px solid #72747c;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0.5; }

.owl-nav {
  font-size: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  color: #575353; }
  .owl-nav .owl-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 39px;
    height: 39px;
    border: 1px solid #575353 !important;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }
  .owl-nav .owl-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 39px;
    height: 39px;
    border: 1px solid #575353 !important;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }

/* titles */
p {
  padding: 15px 0 15px 0;
  font-weight: 400; }

h1 {
  font-family: "Cinzel", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 77px;
  text-align: center;
  color: rgba(75, 78, 91, 0.75);
  padding: 15px 0 15px 0;
  font-weight: 400; }

h2 {
  font-family: "Cinzel", serif;
  padding: 15px 0 15px 0;
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  font-size: 52.32px;
  line-height: 58px;
  text-align: center;
  text-transform: lowercase;
  color: rgba(75, 78, 91, 0.7); }

h3 {
  padding: 15px 0 15px 0;
  font-family: "Cinzel", serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: rgba(75, 78, 91, 0.7); }

h4 {
  padding: 15px 0 15px 0;
  font-family: "Cinzel", serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: rgba(75, 78, 91, 0.7);
  color: rgba(75, 78, 91, 0.7); }

h5 {
  font-family: "Cinzel", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 31px;
  text-align: center;
  color: rgba(75, 78, 91, 0.7); }

li {
  list-style-type: none; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper {
  opacity: 0; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  -webkit-box-ordinal-group: 3;
     -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-order: 2;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-grow: 1; }

/*--------------------------------------------*/
/* OUR PARTNERS*/
/*--------------------------------------------*/
.our-partners {
  width: 100%;
  background: #f9f1ec;
  position: relative; }
  .our-partners h3 {
    position: absolute;
    top: -90px;
    width: 100%;
    text-align: center; }
  .our-partners .owl-carousel .owl-stage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f9f1ec; }
  .our-partners .owl-carousel {
    margin: 0 auto;
    width: 60%; }
  .our-partners .owl-nav {
    width: 110%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }
    .our-partners .owl-nav .owl-prev {
      position: absolute;
      bottom: 20px;
      left: 0; }
    .our-partners .owl-nav .owl-next {
      position: absolute;
      bottom: 20px;
      right: 0; }

.our-partners__container_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background: #f9f1ec; }
  .our-partners__container_item img {
    mix-blend-mode: darken;
    max-height: 88px;
    width: auto !important;
    margin: 0 auto; }

.our-partners__container {
  margin: 0 auto;
  padding: 20px 0;
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (max-width: 991px) {
  .our-partners .owl-carousel {
    margin: 0 auto;
    width: 80%; }
  .our-partners .owl-nav {
    width: 120%; }
  .our-partners {
    width: 100%;
    background: #f9f1ec;
    position: relative; }
    .our-partners h3 {
      top: -70px; }
  h3 {
    font-size: 28px; } }

@media screen and (max-width: 460px) {
  .our-partners .owl-nav {
    top: 170px;
    width: 100px; } }

/*--------------------------------------------*/
/* BEST PRODUKTS*/
/*--------------------------------------------*/
.best-products {
  padding: 90px 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/bables1.svg") no-repeat, url("../img/bables2.svg") no-repeat, url("../img/bables3.svg") no-repeat;
  -webkit-background-size: auto, auto, auto;
     -moz-background-size: auto, auto, auto;
       -o-background-size: auto, auto, auto;
          background-size: auto, auto, auto;
  background-position: left bottom, center top, right top; }
  .best-products .owl-item .navigation {
    display: none; }
  .best-products .owl-item.active.center {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 999; }
    .best-products .owl-item.active.center .navigation {
      display: block;
      position: absolute;
      right: 17px;
      bottom: 12px; }
      .best-products .owl-item.active.center .navigation .owl-prev {
        width: 25.35px;
        height: 25.35px;
        border: 0.325px solid #575353;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
           -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
            -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
             -o-transform: matrix(-1, 0, 0, 1, 0, 0);
                transform: matrix(-1, 0, 0, 1, 0, 0);
        background: #fff;
        outline: none; }
      .best-products .owl-item.active.center .navigation .owl-next {
        display: none; }
  .best-products .owl-carousel .owl-stage-outer {
    overflow: visible; }

.best-products__container {
  width: 1100px !important;
  margin: 50px 0;
  height: 610px;
  overflow-x: hidden;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.best-products__container_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100%;
  margin: 0 auto;
  width: 350px;
  height: 480px;
  padding: 40px 50px;
  -webkit-box-shadow: 0px 4px 16px rgba(7, 10, 87, 0.1);
     -moz-box-shadow: 0px 4px 16px rgba(7, 10, 87, 0.1);
          box-shadow: 0px 4px 16px rgba(7, 10, 87, 0.1);
  background: #fff;
  position: relative; }
  .best-products__container_item img {
    width: 243px;
    height: 249px; }
  .best-products__container_item h4 {
    padding-top: 25px; }
  .best-products__container_item p {
    font-weight: 100;
    text-align: center;
    color: #c3c4c9; }
  .best-products__container_item .best-products {
    display: none; }

@media screen and (max-width: 1150px) {
  .best-products__container_item {
    width: 265px;
    height: auto;
    padding: 25px 30px; }
    .best-products__container_item img {
      width: auto !important;
      height: 161.85px; }
    .best-products__container_item h4 {
      font-size: 19px; }
  .best-products__container {
    width: 90% !important;
    margin: 0;
    height: 480px; } }

@media screen and (max-width: 1000px) {
  .best-products__container {
    height: 410px;
    margin: 0px; }
  .best-products__container_item {
    width: 240px; }
    .best-products__container_item p {
      font-size: 12px; }
    .best-products__container_item h4 {
      padding-top: 10px;
      padding-bottom: 0; }
  .best-products__container {
    width: 700px !important; } }

@media screen and (max-width: 740px) {
  .best-products .owl-item .navigation {
    display: block;
    position: absolute;
    right: 17px;
    bottom: 12px; }
    .best-products .owl-item .navigation .owl-prev {
      width: 25.35px;
      height: 25.35px;
      border: 0.325px solid #575353;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
         -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
          -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
           -o-transform: matrix(-1, 0, 0, 1, 0, 0);
              transform: matrix(-1, 0, 0, 1, 0, 0);
      background: #fff;
      outline: none; }
    .best-products .owl-item .navigation .owl-next {
      display: none; } }

/*--------------------------------------------*/
/* QUOTE*/
/*--------------------------------------------*/
.quote {
  background: #f8f8f8 url("../img/jazminttquaynor-105210-unsplash.png") no-repeat;
  background-position: left bottom;
  z-index: 5; }

.quote__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1300px;
  margin: 0 auto; }

.quote__container_left {
  padding-right: 87px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .quote__container_left blockquote {
    width: 472px;
    height: 74px;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 104.5%;
    text-align: right;
    color: #4b4e5b;
    position: relative; }
    .quote__container_left blockquote::before {
      position: absolute;
      top: -150px;
      left: -50px;
      content: "“";
      font-family: "Cinzel", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 288px;
      line-height: 317px;
      text-align: center;
      color: rgba(239, 216, 201, 0.45); }

.authorization-container {
  width: 210px;
  border-top: 1px solid rgba(75, 78, 91, 0.5);
  text-align: right;
  padding: 10px 0;
  z-index: 5; }
  .authorization-container p {
    padding: 0;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 104.5%;
    color: #89898d; }

.quote__container_right {
  max-width: 45%; }
  .quote__container_right img {
    max-width: 100%;
    mix-blend-mode: darken; }

@media screen and (max-width: 1150px) {
  .quote__container_left {
    padding-right: 50px; }
    .quote__container_left blockquote {
      font-size: 16px;
      width: 250px;
      height: 50px; }
      .quote__container_left blockquote::before {
        font-size: 180px;
        left: 0; }
  .quote {
    background-position: -118px bottom; } }

@media screen and (max-width: 820px) {
  .quote__container_right {
    max-width: 40%; }
  .quote {
    background-position: -118px 60px; }
  .our-achievements--bg {
    width: 146% !important;
    margin-left: -250px; } }

@media screen and (max-width: 680px) {
  .quote__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .quote__container_right {
    max-width: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .quote__container_right img {
      width: 41%;
      min-width: 237px; }
  .quote__container_left {
    padding-right: 80px;
    margin-top: 20px; }
  .quote {
    background-position: -165px -99px; } }

/*--------------------------------------------*/
/* OUR ACHIEVEMENTS*/
/*--------------------------------------------*/
.our-achievements {
  position: relative;
  width: 100%;
  margin-top: 50px; }

.our-achievements--bg {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: -290px;
  left: 0;
  right: 0; }

.our-achievements__icons {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.our-achievements__icons_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 75px;
  margin-top: 35px;
  position: relative; }
  .our-achievements__icons_item::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background: #eed6ca;
    bottom: 0; }
  .our-achievements__icons_item span {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 57px;
    text-align: center;
    text-transform: uppercase;
    color: #4b4e5b;
    padding-top: 15px; }
  .our-achievements__icons_item p {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #4b4e5b; }

@media screen and (max-width: 1150px) {
  .our-achievements__icons_item {
    margin: 0 40px;
    margin-top: 25px; }
    .our-achievements__icons_item::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 1px;
      background: #eed6ca;
      bottom: 0; }
    .our-achievements__icons_item span {
      font-size: 38px;
      line-height: 40px; }
    .our-achievements__icons_item p {
      font-size: 16px;
      line-height: 17px; } }

@media screen and (max-width: 820px) {
  .our-achievements--bg {
    width: 153% !important;
    margin-left: -265px; } }

@media screen and (max-width: 450px) {
  .our-achievements--bg {
    width: 224% !important;
    margin-left: -378px;
    top: -395px; } }

@media screen and (max-width: 360px) {
  .our-achievements__icons_item {
    margin: 0 30px; } }

/*--------------------------------------------*/
/* REVIEWS*/
/*--------------------------------------------*/
.reviews {
  width: 100%;
  background: url("../img/triagle5.svg") no-repeat;
  background-position: right -250px; }
  .reviews .bx-controls-direction {
    padding-left: 180px;
    margin-top: 30px; }
    .reviews .bx-controls-direction .bx-next {
      margin-left: 50px; }

.reviews__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0;
  padding-bottom: 50px; }

.reviews__container_top,
.reviews__container_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.reviews__container_top {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/flora5.png") no-repeat;
  background-position: right 145%;
  -webkit-background-size: 300px 300px;
     -moz-background-size: 300px;
       -o-background-size: 300px;
          background-size: 300px; }

.reviews__container_bottom {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/flora6.png") no-repeat;
  background-position: left top; }

.reviews__container_box {
  max-width: 730px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-grow: 1;
  position: relative; }
  .reviews__container_box img {
    max-width: 100%; }
  .reviews__container_box p {
    width: 469px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 104.5%;
    text-align: center;
    color: #c3c4c9; }
  .reviews__container_box .top-sales {
    position: absolute;
    top: 0;
    right: 150px;
    font-family: "Cinzel", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    color: rgba(75, 78, 91, 0.7); }

.reviews__container_box_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .reviews__container_box_item .reviews__container_box_item_left {
    width: 270px;
    margin-right: 50px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .reviews__container_box_item .reviews__container_box_item_left blockquote {
      padding-right: 20px;
      margin-top: 140px;
      font-weight: 300;
      font-size: 16px;
      line-height: 124.5%;
      color: #4b4e5b;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      margin-bottom: 50px;
      position: relative; }
      .reviews__container_box_item .reviews__container_box_item_left blockquote span {
        padding: 0; }
      .reviews__container_box_item .reviews__container_box_item_left blockquote::before {
        position: absolute;
        top: -100px;
        left: -10px;
        content: "“";
        font-family: "Cinzel", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 221.596px;
        line-height: 244px;
        text-align: center;
        color: rgba(239, 216, 201, 0.45); }
    .reviews__container_box_item .reviews__container_box_item_left .authorization-container p {
      text-align: left;
      width: auto;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 104.5%;
      color: #89898d; }

.container-reviews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.reviews__container_box_item_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .reviews__container_box_item_right .circle-img_container {
    -webkit-shape-outside: circle() margin-box;
    shape-outside: circle() margin-box;
    margin: 10px;
    width: 240px;
    height: 240px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    background-image: url("../img/ava.jpg");
    background-repeat: no-repeat;
    border: 8.39721px solid rgba(239, 216, 201, 0.5);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-background-size: 110% 110%;
       -moz-background-size: 110%;
         -o-background-size: 110%;
            background-size: 110%;
    background-position: center center;
    margin-left: 1px; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    min-height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media screen and (max-width: 1460px) {
  .reviews__container_box {
    max-width: 50%; } }

@media screen and (max-width: 1270px) {
  .reviews__container_box h2 {
    width: 315px;
    font-size: 32px;
    line-height: 110.13%; }
  .reviews__container_box h3 {
    font-size: 28px; }
  .reviews__container_box p {
    width: 261px;
    font-size: 16px;
    line-height: 104.5%; }
  .reviews__container_box_item .reviews__container_box_item_left blockquote {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 90px; }
  .reviews__container_box_item_right .circle-img_container {
    width: 149px;
    height: 149px;
    -webkit-background-size: 120% 120%;
       -moz-background-size: 120%;
         -o-background-size: 120%;
            background-size: 120%; }
  .reviews__container_box_item
.reviews__container_box_item_left
blockquote::before {
    font-size: 180px; }
  .reviews__container_box_item .reviews__container_box_item_left {
    margin-right: 20px;
    padding-bottom: 20px; }
  .reviews__container_top {
    background-position: right 218%; } }

@media screen and (max-width: 1080px) {
  .reviews__container_top {
    background-position: right 302px; }
  .reviews .bx-controls-direction {
    padding-left: 200px; } }

@media screen and (max-width: 1050px) {
  .reviews__container_box_item_right .circle-img_container {
    width: 111px;
    height: 111px; }
  .reviews__container_box_item .reviews__container_box_item_left {
    margin-right: 0px;
    padding-bottom: 0px; }
  .reviews__container_box_item .reviews__container_box_item_left blockquote {
    padding-right: 0; }
  .reviews__container_box_item .reviews__container_box_item_left {
    width: 230px; }
  .reviews__container_box_item_right .circle-img_container {
    margin: 0;
    margin-bottom: 20px; }
  .reviews__container_bottom {
    background-position: -23px -70px; } }

@media screen and (max-width: 760px) {
  .reviews__container_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .reviews__container_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .reviews__container_box .top-sales {
    display: none; }
  .reviews__container_box {
    max-width: 100%;
    padding: 5px 0; }
  .reviews__container_top {
    background-position: right 455px; }
  .reviews__container_top {
    background-position: 151% 422px; }
  .reviews__container_bottom {
    background-position: -51px 285px; }
  .reviews__container {
    padding-top: 50px; }
  .reviews .bx-controls-direction {
    padding: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 991px) {
  h3 {
    font-size: 28px; } }

/*# sourceMappingURL=style.css.map */
